server:
  host: "10.0.0.1"
  port: 8443
  tls_cert_path: "/certs/hub-cert.pem"
  tls_key_path: "/certs/hub-key.pem"
  read_timeout_sec: 5
  write_timeout_sec: 10

database:
  host: "postgres"
  port: 5432
  user: "sentinel"
  password_env: "DB_PASS" # Wird aus der Umgebungsvariable geladen
  dbname: "sentinel_db"
  sslmode: "require"

wireguard:
  interface: "wg0"
  subnet: "10.0.0.0/24"

security:
  jwt_secret_env: "JWT_SECRET"
  enable_mtls: true
